p { 
  text-align: center;   color: orange;
}
#header {
  text-align: center;   color: blue;
}
.about {
  text-align: center;   color: green;
}
.contact {background: darkgrey;}
.skills {background: darkred;}
.projects {background: lightblue;}
body { background: darkcyan;
  font-family: 'Times New Roman', Times, serif;
margin: 40px;}
.persona { background-color: lightblue;}
.Storyboards {background-color: lightblue;}
.sketches {background-color: lightblue;}
.AffinityDiagram {background-color: lightblue;}
.PaperPrototype {background-color: lightblue;}