p { 
  text-align: center;   color: orange;
}
#header {
  text-align: center;   color: blue;
}
.center {
  text-align: center;   color: green;
}
body { background: darkcyan;
  font-family: 'Times New Roman', Times, serif;
margin: 40px;}